*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* 10px/16px  =  65.5% > 1rem = 10px*/
}

body {
    font-family: 'Roboto',sans-serif;
    font-size: 1.6rem;
   
    /* Default Font Size*/
}

.brand{
    color:black !important;
}
.date{color: #aaaaaa;float: right;}



/** NAV **/

h1{
    width: 40%;
    font-size: 10rem;;
    font-weight: black;
}
.link {
    text-decoration: none;
}


a {
    color: Black;
    font-size: 2.6rem;
    text-decoration: none;
}

link:hover {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}


/** FOOTER **/
.footer {
    margin: auto;
    display: grid;
    padding: 1rem;
    grid-template-columns: 50% 50%;

}

.footer-left {
    grid-column: 1/2;
}

.footer-right {
    grid-column: 2/-1;
    width: 100%;
    text-align: right;
}
