*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* 10px/16px  =  65.5% > 1rem = 10px*/ }

body {
  font-family:'Slabo 27px', serif;
  font-size: 1.6rem;
  /* Default Font Size*/ 
}

.portfolio-dots {
  display: inline-block;
  font-size: 15rem;
  color: lightgray;
  text-decoration: none;
}
.portfolio-dots:hover{
  color: black;
}

/** NAV **/
nav{
  max-width: 10vw;
}
.link{
  text-decoration: none;
}
nav a{
  color: #aaaaaa;
  font-size: 2.6rem;
}
nav link:hover{
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

/* Main content */
.main{
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top:5rem; 
  height: 85vh; 
}





.main__wrapper{
   padding: 5rem;

   max-width: 80%;
   
}
.main__wrapper h1{
  font-size: 9rem;
}

.main__wrapper p{
  font-size:2.5rem;
  color: #4e4e4e;
}
hr{
  align-self: flex-end;
}



/** MEDIA QUERY  **/




/***  PORTFOLIO CONTAINER  ****/


.portfolio_container{ 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 2rem;
  height: 95vh;
}

.portfolio_container h1{
  grid-column: 1/2;
  font-size: 5rem;
}

.portfolio_info{
  grid-column: 1/1;
  font-size: 2.5rem;
}
.portfolio_info .source{
  color: darkgray;
}

.portfolio_info .source:hover{
 color: #FDE2E2;
}


.portfolio_container .tags a{
  width: 70%;  
  padding: .5rem;
  background-color: #FDE2E2;
  color: #000000;
  font-size:1.5rem;
  margin-right:2rem; 
}
.tags{
  display: flex;
  margin-top:1.5rem; 
}

img{
  filter: grayscale(100%);
  grid-column: 2/-1; 
  grid-row: 1/-1;
  background-size: cover; 
  background-position: center;
  width: 100%; 
  height: 100%;
  object-fit: cover;
  border: 1px solid lightgray;
 
}




@media (max-width: 550px) {
  .margin{
    padding: 0;
  }
  .portfolio_container{
    grid-gap: 0;

  }


  .portfolio_container h1{
    grid-column: 1/-1;
    text-align: center;
    font-size: 13vw;
  }
  
  .portfolio_info{
  grid-column:1/3; 
  font-size: 4.5vw;
  padding-right:1.5rem; 
  }

  .portfolio_container img{
    grid-row-start: 2;
    grid-column: 3/-1;
    height: 90%;
    
  }


 .tags{
  flex-flow: column;
  
 }
 .tags a {
  margin-bottom: .3rem;
 }
  
}

