*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 10px/16px  =  65.5% > 1rem = 10px*/ }

body {
  font-family:'Slabo 27px', serif;
  font-size: 1.6rem;
  /* Default Font Size*/ 
}

/** NAV **/
nav{
  max-width: 10vw;
}
.link{
  text-decoration: none;
}
nav a{
  color: #aaaaaa;
  font-size: 2.6rem;
}
nav link:hover{
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

/* Main content */
.main{
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  height: 75vh;
  
  
}

@media only screen and (max-width: 650px) {
  /**
   Fix Iphone below plus
   Raise above
   show description
  **/
  .main{
    align-items: flex-start;
    max-width: 100%;
  }
  .main__wrapper h1{
    font-size: 6rem !important;
  }
 
  
}
.main__wrapper{
   padding: 5rem;

   max-width: 80%;
   
}
.main__wrapper h1{
  font-size: 9rem;
}

.main__wrapper p{
  font-size:2.5rem;
  color: #4e4e4e;
}
hr{
  align-self: flex-end;
}




/***  PORTFOLIO CONTAINER  ****/

.portfolio{
  margin: 3rem;
  margin: auto;
  max-width: 650px;
}


hr{
  margin-bottom: 8rem;
  margin: auto;
}


.portfolio_container{
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  grid-template-rows: 30% 100%; 
  height: 55vh;
 
}
.portfolio_left{

  grid-row: 2/3;
}
.portfolio_right{
  grid-row:2/3; 
}


.portfolio_container h1{
  font-size: 6rem;
  margin-bottom:5rem; 
  margin-left:1rem;
  margin-right:1rem;  
}
.portfolio_container p{
  margin:1rem; 
}

.portfolio_container .tags a{
  margin: 1rem;
  color: #FF9E9E;
  font-size:2.5rem;
}

.portfolio_container .img-container{
background: rgb(255,158,158);
background: linear-gradient(180deg, rgba(255,158,158,1) 0%, rgba(254,214,214,1) 100%);
height: 75%;
width: 100%;
}
